# Virtual environments
venv/
env/
.env

# Python compilation files
__pycache__/
*.pyc
*.pyo

# Audio outputs
static/*.wav
static/*.mp3

# Ignore HF model cache (if any)
.cache/

# OS files
.DS_Store
Thumbs.db